@keyframes backgroundAnimation {
    0% {
      background-color: red;
    }
    15% {
      background-color: orange;
    }
    30% {
      background-color: yellow;
    }
    45% {
      background-color: green;
    }
    60% {
      background-color: blue;
    }
    75% {
      background-color: indigo;
    }
    90% {
      background-color: violet;
    }
    100% {
      background-color: red;
    }
  }
  
  body {
    animation: backgroundAnimation infinite 0.5s linear;
  }
  

h5 {
    color: green !important;
}

.exp-edu {
    margin-left: 50px;
}

@media only screen and (max-width: 900px) {

    .exp-edu{
        margin-left: 0;
    }

  }

